@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}